<h1>主催者管理画面</h1>

<%= link_to 'イベント入力', eventer_add_event_name_path, class: 'btn btn-primary' %>
<%= link_to '開催地', eventer_add_event_place_path, class: 'btn btn-primary' %>
<%= link_to '開催時間', eventer_add_event_time_path, class: 'btn btn-primary' %>
<%= link_to 'チケット入力', eventer_add_ticket_path, class: 'btn btn-primary' %>
<%= link_to '受付スタッフ入力', eventer_add_staff_path, class: 'btn btn-primary' %>
<%= link_to '売上確認', eventer_add_event_name_path, class: 'btn btn-primary' %>
<%= link_to 'ログアウト', "#", class: 'btn btn-primary' %>
